<h1>Lista de Cervezas</h1>
<table class="table text-center">
    <thead class="thead-light">
        <tr>
            <th></th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Cantidad</th>
            <th>Compra</th>

        </tr>
      
    </thead>
    <tbody>
        <tr *ngFor="let beer of beers" [ngClass]="{'alert alert-warning': beer.clearance}">
            <!-- <tr *ngFor="let beer of beers" [ngClass]="{'clearance': beer.clearance}"> -->
            <td><img class="img-thumbnail" width="90" [src]="beer.image" [alt]="beer.name"/></td>
            <td>{{beer.name}}</td>
            <td>{{beer.type}}</td>
            <td>{{beer.price | currency}}</td>
            <td *ngIf="beer.stock">{{beer.stock - beer.quantity}}</td>
            <td *ngIf="!beer.stock"><span class="badge alert-danger" *ngIf="beer.stock==0">X</span></td>
            <td>
                <app-input-integer [(quantity)]="beer.quantity" [max]="beer.stock" *ngIf="beer.stock" (maxReached)="maxReached($event)"></app-input-integer>
            </td>
            <td>
                <button class="btn btn-success" *ngIf="beer.quantity!=0" (click)="addToCart(beer)">Agregar</button>
                <button class="btn btn-light" *ngIf="beer.quantity==0" (click)="addToCart(beer)" disabled>Agregar</button>
            </td>
        </tr>
    </tbody>
</table>