.clearance {
    border: 2px solid green;
    background-color: lightgreen;
}
td {
    vertical-align: middle;
}

input {
    max-width: 40px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}