<h1>Lista de Cervezas</h1>
<table class="table">
    <thead>
        <tr>
            <th>Imagen</th>
            <th>Nombre</th>
            <th>Tipo</th>
            <th>Precio</th>
            <th>Stock</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td><img [src]="beers[0].image" [alt]="beers[0].name"/></td>
            <td>{{beers[0].name}}</td>
            <td>{{beers[0].type}}</td>
            <td>{{beers[0].price}}</td>
            <td>{{beers[0].stock}}</td>
        </tr>
        <tr>
            <td></td>
            <td>IPA</td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td>Cream Stout</td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>