<div class="row row-cols-1 row-cols-md-4 text-center">
    <div class="col mb-2">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_beerality.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-danger text-white">Beerality</div>
            <div class="card-body">
                <p class="card-text">Este varietal granate es una Amber con sabor a una victoria impecable.</p>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_bitter.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-danger text-white">Bitter Call Saul</div>
            <div class="card-body">
                <p class="card-text">Ideal para llamar a un amigo y tomarse esta IPA bien amarga con mucho lúpulo.</p>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_wheat.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-warning text-white">Dry or Wheat?</div>
            <div class="card-body">
                <p class="card-text">Nuestra exclusiva variedad Wheat para los amantes de las cervezas de trigo.</p>
            </div>
        </div>
    </div>
    <div class="col mb-2">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_ferveza.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-dark text-white">Ferveza</div>
            <div class="card-body">
                <p class="card-text">Una curiosa mixtura de Porter y Fernet, dos bebidas predilectas de nuestra cultura.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_redemption.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-danger text-white">Redemption</div>
            <div class="card-body">
                <p class="card-text">Esta espectacular roja es una Amber Ale con la que caemos rendidos.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_scream.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-dark text-white">Scream</div>
            <div class="card-body">
                <p class="card-text">Esta Cream Stout es tan exquisita y corpulenta que dan ganas de gritar.</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_wine.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-danger text-white">Wine Not?</div>
            <div class="card-body">
                <p class="card-text">¿Por qué no darle una chance a esta gran y recomendada Barley Wine?</p>
            </div>
        </div>
    </div>
    <div class="col mb-3">
        <div class="card bg-light" style="width: 17rem;">
            <img src="https://cdn.jsdelivr.net/gh/GiancarloCristiano/angular-brewery@master/src/assets/img/birras_submarine.jpg" class="card-img-top" alt="...">
            <div class="card-header bg-warning text-white">Yellow Submarine</div>
            <div class="card-body">
                <p class="card-text">Sumergite en este riquísima Golden, dorada como el disco de los 4 de Liverpool.</p>
            </div>
        </div>
    </div>
</div>