<div class="container">
  <h1 style="font-family: 'Courgette', cursive; font-size: 7em;">La Cerbesaría.</h1>
  <p class="">Fundados en 2020, somos 5 amigos tan <span class="font-weight-bold">apasionados</span> por esta legendaria bebida así como <span class="font-weight-bold">exigentes.</span></p>
  <p>Producimos todos nuestros blends con la característica dedicación <span class="font-weight-bold">artesanal</span> los mejores ingredientes de nuestra tierra. Hicimos de nuestras cervezas favoritas, nuestra marca.
  </p>
  <p>Desde <span class="font-weight-bold">Tandil</span>, Buenos Aires, Argentina al mundo. ¡No dudes en darnos una chance en tu mesa!</p>
</div>